Source: ptux-sdk-udoo
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk-udoo
Architecture: all
Depends:
 ptux-sdk-armhf,
 mkos-udoo,
 ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
